.coin {
  position: relative;
  padding: 15px 25px;
  margin-bottom: 10px;
  background: linear-gradient(180deg, var(--coin-bg-color-start) 0%, var(--coin-bg-color-end) 100%);
  border-radius: 15px;
  cursor: pointer;
}

.coin::before {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: 15px;
  background: linear-gradient(180deg, var(--border-color) 0%, var(--border-color) 100%);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.coin.rising:hover::before {
  background: linear-gradient(180deg, var(--text-color-rising) 0%, var(--border-color) 100%);
}

.coin.falling:hover::before {
  background: linear-gradient(180deg, var(--text-color-falling) 0%, var(--border-color) 100%);
}

.coin.rising .coin__change{
  color: var(--text-color-rising);
}

.coin.falling .coin__change{
  color: var(--text-color-falling);
}

.coin > * {
  flex: 1;
  justify-items: center;
  text-align: center;
}

.coin__id {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  gap: 20px;
  flex: 1.5;
}

.coin__logo {
  height: 25px;
  width: 25px;
}

.coin__symbol, .coin__name {
  display: block;
}

.coin.rising:hover .coin__name {
  color: var(--text-color-rising);
}

.coin.falling:hover .coin__name {
  color: var(--text-color-falling);
}

.coin__symbol {
  font-size: 14px;
  opacity: 0.3;
}

.change__term {
  color: var(--text-color-main);
  padding-left: 10px;
}

.change__icon {
  margin-left: 5px;
}

.chart-btn {
  justify-items: flex-end;
  flex: 0.5;
}

.chart-btn__icon {
  transition: all 0.3s ease-in-out;
}

.coin.rising:hover .chart-btn__icon {
  color: var(--text-color-rising);
}

.coin.falling:hover .chart-btn__icon {
  color: var(--text-color-falling);
}

.watchlist-btn, .chart-btn {
  height: 40px;
  background: none;
  border: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.watchlist-btn {
  width: 40px;
  opacity: 0.3;
  justify-items: flex-start;
  margin-right: 40px;
  flex: 0;
}

.watchlist-btn:hover, .watchlist-btn.active {
  opacity: 1;
}

.watchlist-btn:hover .icon path {
  stroke: var(--text-color-falling);
}

.watchlist-btn.active .icon path {
  stroke: var(--text-color-falling);
  fill: var(--text-color-falling);
}

.icon {
  display: block;
}


@media screen and (max-width: 992px) {
  .coin__vol {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .chart-btn, .change__term {
    display: none;
  }
}

@media screen and (max-width: 685px) {
  .coin__cap {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .coin {
    padding: 10px 10px;
  }
  .coin__name, .coin__logo {
    display: none;
  }
  .coin__symbol {
    opacity: 1;
  }
  .watchlist-btn {
    margin-right: 15px;
  }
  .coin__id {
    flex: 0.5;
    gap: 10px;
  }
}