* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-size: var(--font-size-main);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-main);
  line-height: var(--line-height-main);
  color: var(--text-color-main);
  background: var(--color-bg);
}

.container {
  max-width: var(--container-width);
  width: 100%;
  min-height: 100vh;
  margin-inline: auto;
  padding-inline: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}