.header {
  padding: 25px 0;
}

.logo {
  font-family: var(--font-family-title);
  font-size: 2rem;
  line-height: auto;
}

.logo__link, .menu__link {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.menu__link {
  letter-spacing: 0.05em;
}

.menu__link span {
  position: relative;
}

.menu__link span::after {
  content: "";
  width: 110%;
  height: 3px;
  display: block;
  position: absolute;
  bottom: -30%;
  left: -5%;
  background: linear-gradient(96.73deg, #A070FF 6.73%, rgba(83, 243, 205, 0) 116.9%);
  opacity: 0;
  transition: all 0.3s;
}

.menu__link span:hover::after,
.menu__link.active-link span::after {
  opacity:0.5;
}

.menu__link.active-link {
  pointer-events: none;
  cursor: default;
}

.burger {
  display: none;
}

.header__btn-wrapper {
  display: flex;
  gap: 20px;
}

.search-form {
  display: flex;
  justify-content: flex-end;
}

.search-btn, .theme-btn {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  color: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 5px;
  background: inherit;
  color: inherit;
  border: none;
  width: 200px;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid var(--hover-color);
}

.btn-sign-mobile,
.search-form_mobile {
  display: none;
}

@media screen and (max-width: 992px) {

  .menu {
    position: absolute;
    right: 0;
    top: 90px;
    width: 100%;
    height: calc(100vh - 90px);
    flex-direction: column;
    justify-content: center;
    background: var(--color-bg);
    transform: scale(0, 1);
    transform-origin: right;
    opacity: 0;
    gap: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }

  .nav {
    order: 2;
  }

  .header__btn-wrapper {
    order: 1;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 20px;
  }

  .menu__item {
    width: 100%;
    height: 60px;
  }

  .menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .menu.open {
    transform: scale(1, 1);
    opacity: 1;
  }

  .burger {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .burger::after, .burger::before {
    content: "";
    position: absolute;
    right: 0;
    height: 2px;
    background: var(--text-color-main);
    transition: all 0.3s;
  }

  .burger::after {
    width: 20px;
    top: 24px;
  }

  .burger::before {
    width: 12px;
    top: 16px;
  }

  .burger.active::after {
    transform: rotate(45deg) translateY(-6px);
  }

  .burger.active::before {
    width: 20px;
    transform: rotate(-45deg) translateY(6px);
  }

  .btn-sign-desktop {
    display: none;
  }

  .btn-sign-mobile {
    display: block;
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {

  .search-form_desktop {
    display: none;
  }

  .search-form_mobile {
    display: flex;
    margin-top: 40px;
  }
}